.article-card {
    font-size: clamp(1rem, 1dvw, 2rem);
    text-align: left;
    margin-bottom: 4rem;
    color: black;
    flex-grow: 1;
    max-width: 300px;
    width: clamp(250px, 35vw, 300px)
    
}
.article-card:hover {
    outline: 1px solid rgb(203, 203, 203);
    box-shadow: 0.5rem 0.5rem rgb(203, 203, 203);
}

.article-card img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.article-card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}
.article-card-info h2 {
    width: 100%;
}
.article-info {
}
.author-info {
}