/* #articles {
    width: 95dvw;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
} */

/* #sort-articles {
    
    margin-right: 2rem;
    margin-left: 2rem;
    height: fit-content;
    background-color: black;
} */
/* #sort-queries {
    display: flex;
    flex-direction: column;
    text-align: left;
}
#sort-by-drop-down {
    max-width: fit-content;
}
.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
@media screen and (min-width: 540px) {
    #sort-queries {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        flex-direction: row;
    }
    #sort-query-selector {
        display: flex;
        flex-direction: row;
        min-width: fit-content;
    }
    .limiter {
        margin-left: auto;
    }
} */

/* #sort-articles h2 {
    text-align: left;
} */
/* #sort-queries label {
    padding: 0.5rem;

}
#sort-queries select {
    font-size: 1rem;
    outline: 1px solid black;
    border-radius: 25px;
    padding: 0.5rem;
} */
