.page-selector {
    display: flex;
    justify-content: center;
    min-width: 100px;
    align-items: center;
    margin: 1rem 1rem 1rem auto;
}
.page-selector ul {
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page-selector li {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 25px;
    font-size: 1.25rem;
    border-radius: 100%;
}

@media screen and (min-width: 540px) {
    .page-selector {
        margin: 0rem 2rem 0rem 1rem;
    }
}