#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

header {
  background-color: red;
  width: 100dvw;
  height: 10dvh;
  padding: 1rem;
  color: white;
  position: fixed;
  top: 0;
}
header h1 {
  font-size: 3rem;
}
 main {
  margin-top: 10dvh;
 }